.calnder{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: 30px repeat(5, 75fr);
}
.date, .day{
    background-color: skyblue;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 1s;
}
.other-month, .day{
    background-color: lightgray;
}
.date:hover{
    background-color: aqua;
    cursor: pointer;
    
}