
.container{
    display: grid; 
    grid-template-columns: 200px 200px 200px 200px; 
    justify-content: center;
}
.item{
    border: 2px solid indianred;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
}
.item:hover{
    background-color: aqua;
}